[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=redis-dev.roboshop.internal
Environment=catalogue-dev.roboshop.internal
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target